* {
  margin: 0;
}
body {
  background-color: rgb(248, 234, 225);
}
.box {
  display: inline-block;
}
.brand {
  font-size: 25px;
  color: rgb(219, 10, 10);
}
.search {
  height: 25px;
  width: 280px;
  margin-left: 50px;
  position: relative;
  bottom: 10px;
}
button {
  height: 30px;
  width: 80px;
  position: relative;
  bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  border: none;
  background-color: white;
  color: rgb(130, 130, 130);
  font-size: 15px;
  font-weight: bold;
}

.head {
  background-color: white;
}
.first{
  margin-left: 200px;
  margin-bottom: 20px;
}
.second {
  
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  background-color: white;
   
}
.third{
  
    height:500px;
    background-color:rgb(248, 234, 225);
    
}
.img1 {
  height: 65px;
  width: 65px;
}
.dining{
    margin-left: 200px;
}
.dine,
.deliv,
.night {
  position: relative;
  bottom: 25px;
  left: 5px;
  font-size: 20px;
  color: rgb(162, 152, 152);
}
.delivery {
  margin-left: 50px;
  margin-right: 50px;
}
.card {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border: 10px solid rgb(248, 234, 225);
  border-color: rgb(248, 234, 225);
}
 

.card:hover {
  background-color: white;
  border-radius: 10px;
  border-color: white;
}
.tagline{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.off {
  background-color: rgba(181, 79, 79, 0.8);
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

/* Restra name and ratings styling */
.img {
  height: 250px;
  width: auto;
  border-radius: 20px;
  position: relative;
}

.restra {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.restra_name {
  font-size: 20px;
  font-weight: bold;
}
.ratings {
  background-color: green;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  color: white;
}

/* food and price styling */
.food {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: gray;
}

.price {
  position: absolute;
  right: 5px;
  font-size: 15px;
  color: gray;
}

/* location and distance styling */
.location {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: gray;
}
.distance {
  position: absolute;
  right: 5px;
  font-size: 15px;
  color: gray;
}
