* {
  margin: 0px;
  padding: 0px;
}
 
body {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
   
  padding: 5rem;
  height: 50vh;
  width: 50vh;
  background-color:rgb(177, 165, 165);
  display: grid;
  /* we can use repeat  */
  /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px ; */

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8,1fr); */

}
 
.white {
  /* height: 100px;
  width: 100px; */
  background-color: white;
}
.black {
  /* height: 100px;
  width: 100px; */
  background-color: black;
}
