* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 100px;
  width: 100px;
  border: 5px solid black;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#pink {
  background-color: pink;
}
