* {
  margin: 0px;
  padding: 0px;
}
body {
 color:#333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8p rgba(0,0,0,0.1);
 
}

.quote-box {
  margin: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-left: 4px solid;
  font-style: italic;
  background: #f9f9f9;
  border-radius: 5px;
}
